certifi==2021.5.30
charset-normalizer==2.0.3
colorama==0.4.4
crayons==0.4.0
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
idna==3.2
imageio==2.9.0
jsonpatch==1.32
jsonpointer==2.1
kiwisolver==1.3.1
llvmlite==0.36.0
matplotlib==3.3.4
networkx==2.5.1
nose==1.3.7
numba==0.53.1
numba-scipy==0.3.0
numpy==1.19.5
Pillow==8.3.1
portalocker==2.3.0
pyBigWig==0.3.18
pyparsing==2.4.7
python-dateutil==2.8.2
PyWavelets==1.1.1
pyzmq==22.1.0
requests==2.26.0
scikit-image==0.17.2
scipy==1.5.4
six==1.16.0
tifffile==2020.9.3
torch==1.7.1+cu101
torchaudio==0.7.2
Torchelie @ git+https://github.com/vermeille/Torchelie@780e1106d42a91ba8b1bf941653e6dc94dfa6635
torchfile==0.1.0
torchvision==0.8.2+cu101
tornado==6.1
tqdm==4.61.2
typing-extensions==3.10.0.0
urllib3==1.26.6
visdom==0.1.8.9
websocket-client==1.1.0
