certifi==2021.5.30
charset-normalizer==2.0.3
colorama==0.4.4
crayons==0.4.0
dataclasses==0.8
idna==3.2
jsonpatch==1.32
jsonpointer==2.1
llvmlite==0.36.0
numba==0.53.1
numba-scipy==0.3.0
numpy==1.19.5
Pillow==8.3.1
pyBigWig==0.3.18
pyzmq==22.1.0
requests==2.26.0
scipy==1.5.4
six==1.16.0
torch==1.7.1+cu101
torchaudio==0.7.2
Torchelie @ git+https://github.com/vermeille/Torchelie@780e1106d42a91ba8b1bf941653e6dc94dfa6635
torchfile==0.1.0
torchvision==0.8.2+cu101
tornado==6.1
typing-extensions==3.10.0.0
urllib3==1.26.6
visdom==0.1.8.9
websocket-client==1.1.0
